<div class="cafe-container">
  <app-loader [loading]="searchService.listLoading">  
  <div class="search-container">
      <mat-form-field>
          <input type="text" placeholder="Поиск" aria-label="Name" matInput 
          [formControl]="searchControl" #search autofocus autocorrect="off">
          <mat-icon matSuffix svgIcon="search"></mat-icon>
      </mat-form-field>
      <button mat-icon-button color="primary" (click)="setCurrentPosition()">
        <mat-icon matSuffix svgIcon="my_location"></mat-icon>
      </button>
  </div>

  <div class="cafe-list">
      
      <div class="googlemap">
     <!-- <agm-map [latitude]="53.88" [longitude]="28.44" [scrollwheel]="false" [zoom]="zoom" (boundsChange)="setBounds($event)">
        <agm-marker *ngIf="isDefined" [latitude]="location.lat" [longitude]="location.lng" [iconUrl]="pathToIcon"></agm-marker>
        <agm-marker *ngFor="let detail of searchService.markersList; let i = index; trackBy i;" [latitude]="detail.position.lat" [longitude]="detail.position.lng"></agm-marker>
      </agm-map>-->
      <agm-map #gm [latitude]="location.lat" [longitude]="location.lng" [scrollwheel]="false" 
      [zoom]="zoom" [fitBounds]="searchService.expandedBounds" (boundsChange)="setBounds($event)">
        <agm-marker *ngIf="isDefined" [latitude]="location.lat" [longitude]="location.lng" [iconUrl]="pathToIcon"></agm-marker>
        <agm-marker *ngFor="let detail of searchService.markersList; let i = index; trackBy i;"
        [latitude]="detail.position.lat" [longitude]="detail.position.lng">
            <agm-snazzy-info-window #iw [padding]="'5px'" [fontSize]="'10px'" 
            [isOpen]="false" [latitude]="detail.position.lat" [longitude]="detail.position.lng" [closeWhenOthersOpen]="true">
                <ng-template>
                  <p class="titleWindow"><strong>{{detail.title}}</strong></p>
                  <p>
                      <span>
                        <span *ngIf="detail.address.house!==''">{{detail.address.house}} </span>
                        <span *ngIf="detail.address.street!==''">{{detail.address.street}} </span>
                      </span>
                      <span style="padding-left: 5px;"><strong>{{detail.distance}}&nbsp;km</strong></span>
                   </p>
                   <p> 
                    <span><a [routerLink]="['/search/cafe/', detail.id]">Подробнее</a></span>          
                  </p>
                  
                </ng-template>
              </agm-snazzy-info-window>
        </agm-marker>
      </agm-map>
     </div>
     <div class="list">
      <div *ngIf="searchService.markersList.length==0" class="locate">
        <!--<h2>Please enter a location</h2>-->
        <img src="/assets/images/locate.png"/>
      </div>
      <mat-list *ngIf="searchService.markersList.length > 0">
          <mat-list-item *ngFor="let detail of searchService.markersList; let i = index; trackBy i;">
            <h3 matLine>{{detail.title}}</h3>
            <p matLine><strong>Адрес:</strong>
              <span style="padding-left:5px;">
                <span *ngIf="detail.address.unit!==''">{{detail.address.unit}} - </span>
                <span *ngIf="detail.address.house!==''">{{detail.address.house}} </span>
                <span *ngIf="detail.address.street!==''">{{detail.address.street}}, </span>
                <span *ngIf="detail.address.city!==''">{{detail.address.city}}</span>
              </span><br/>
              <span><strong>Расстояние:</strong> {{detail.distance}} км</span>            
            </p>
            <span style="float:right; margin-top: -10px;"><a mat-raised-button color="accent" [routerLink]="['/search/cafe/',detail.id]">Подробнее</a></span>
          </mat-list-item>
      </mat-list>
      </div>
  </div>
  </app-loader>
  </div>