<div class="post-container">
  <app-data-loader [loading]="postService.listLoading">  
    <mat-accordion>
        <mat-expansion-panel *ngFor="let group of postService.groupedList; let i = index; trackBy i;">
            <mat-expansion-panel-header> <strong>{{group.title}}</strong> </mat-expansion-panel-header>
            <div *ngFor="let detail of group.details; let j = index; trackBy j;">
              <span class="left-side">{{detail.user.name}}</span><span class="right-side">{{detail.rate}}</span>
              <br/><br/>
              <p>{{detail.text}}</p>
              <span class="left-side">Телефон:  {{detail.user.phone}}     Email: {{detail.user.email}}</span>
              <span class="right-side">{{detail.createdAt | date : 'dd/MM/yyyy'}}</span><br/>
              <mat-action-row>
                  <button mat-raised-button color="warn" (click)="delete(detail.id)">Удалить</button>
              </mat-action-row>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
  </app-data-loader>
</div>