.cafe-container {
    margin: auto;
    width: 80%;
    padding: 10px;
}
.search-container {
    padding-top: 50px;
    padding-bottom:50px; 
    margin: auto;
    width: 70%;
}
.search-container > * {
    width: 100%;
}
.cafe-list {
    margin: auto;
    width: 100%;
    padding-left: 85px;
}
.cafe-card {
    width: 400px;
    max-height: 450px;
    float: left;
    margin: 25px 10px 0px 25px;
}
img {
    max-height: 240px;
}
hr {
    margin: 5px 0px 0px 0px;
}