<div class="cafe-container">
  <app-loader [loading]="searchService.listLoading">  
  <div class="search-container">
      <mat-form-field>
          <input type="text" placeholder="Поиск" aria-label="Name" matInput 
          [formControl]="searchControl">
          <mat-icon matSuffix svgIcon="search"></mat-icon>
      </mat-form-field>
      
  </div>
  <div class="cafe-list">
    
      <mat-card class="cafe-card" *ngFor="let detail of searchService.filteredList; let i = index; trackBy i;">
          <mat-card-header>
            <mat-card-title><strong>{{detail.title}}</strong></mat-card-title>
          </mat-card-header>
          <img mat-card-image [src]="detail.photo[0]" alt="photo">
          <mat-card-content>
            <p><strong>Адрес:</strong><br/>
              <span *ngIf="detail.address.unit!==''">{{detail.address.unit}} - </span>
              <span *ngIf="detail.address.house!==''">{{detail.address.house}} </span>
              <span *ngIf="detail.address.street!==''">{{detail.address.street}}, </span>
              <span *ngIf="detail.address.city!==''">{{detail.address.city}}</span>
            </p>
          </mat-card-content>
          <hr/>
          <mat-card-actions>
            <a mat-raised-button color="accent" [routerLink]="['/search/cafe/', detail.id]">Подробнее</a>
          </mat-card-actions>
        </mat-card>
       
  </div>
  </app-loader>
  </div>