<h1 mat-dialog-title>{{data.action}} {{data.cafe.title}}</h1>
<div mat-dialog-content>
    <div>
        <mat-form-field hideRequiredMarker="false" floatLabel="auto">
            <input type="text" matInput placeholder="Название заведения" name="title"
             tabindex="0" [(ngModel)]="data.cafe.title" required #title="ngModel">
             <mat-error *ngIf="title.invalid">Это поле обязательно</mat-error>
        </mat-form-field>
    </div>
    <div>
        <span *ngFor="let photo of data.cafe.photo; let idx=index; ">
            <mat-form-field floatLabel="auto">
                <input type="text" matInput placeholder="Расположение картинки" name="photo{{idx}}"
                tabindex="0" [(ngModel)]="data.cafe.photo[idx]">
            </mat-form-field><button mat-mini-fab color="warn" (click)="onPhotoRemove(idx)">-</button>
        </span><button mat-mini-fab color="primary" (click)="onPhotoAdd()">+</button>
    </div>
    <div> <br/>Контактная информация <br/> <br/>
            <mat-form-field floatLabel="auto">
                <input type="text" matInput placeholder="Телефон" name="phone" 
                  tabindex="0" [(ngModel)]="data.cafe.phone">
            </mat-form-field>
            <mat-form-field floatLabel="auto">
                <input type="text" matInput placeholder="Email" name="email" 
                  tabindex="0" [(ngModel)]="data.cafe.email">
            </mat-form-field>
            <mat-form-field floatLabel="auto">
                    <input type="text" matInput placeholder="Веб-сайт" name="website" 
                      tabindex="0" [(ngModel)]="data.cafe.website">
                </mat-form-field>
    </div>
    <div> <br/>Адрес <br/> <br/>
            <mat-form-field floatLabel="auto">
                <input type="text" matInput placeholder="Район" name="unit" 
                  tabindex="0" [(ngModel)]="data.cafe.address.unit">
            </mat-form-field>
            <mat-form-field floatLabel="auto">
                <input type="text" matInput placeholder="Дом" name="house" 
                  tabindex="0" [(ngModel)]="data.cafe.address.house">
            </mat-form-field>
            <mat-form-field floatLabel="auto">
                    <input type="text" matInput placeholder="Улица" name="street" 
                      tabindex="0" [(ngModel)]="data.cafe.address.street">
            </mat-form-field>
        <mat-form-field floatLabel="auto">
            <input type="text" matInput placeholder="Город" name="city" 
              tabindex="0" [(ngModel)]="data.cafe.address.city">
        </mat-form-field>
        <mat-form-field floatLabel="auto">
            <input type="text" matInput placeholder="Страна" name="country" 
              tabindex="0" [(ngModel)]="data.cafe.address.country">
        </mat-form-field>
        <mat-form-field floatLabel="auto">
                <input type="text" matInput placeholder="Метро" name="postal" 
                  tabindex="0" [(ngModel)]="data.cafe.address.postal">
        </mat-form-field>
    </div>
    <div><br/>Время работы <br/><br/>
        <mat-form-field floatLabel="auto">
            <input type="text" matInput placeholder="Понедельник" name="mn" 
              tabindex="0" [(ngModel)]="data.cafe.schedule.mn">
        </mat-form-field>
        <mat-form-field floatLabel="auto">
            <input type="text" matInput placeholder="Вторник" name="tu" 
              tabindex="0" [(ngModel)]="data.cafe.schedule.tu">
        </mat-form-field>
        <mat-form-field floatLabel="auto">
                <input type="text" matInput placeholder="Среда" name="we" 
                  tabindex="0" [(ngModel)]="data.cafe.schedule.we">
        </mat-form-field>
    <mat-form-field floatLabel="auto">
        <input type="text" matInput placeholder="Четверг" name="th" 
          tabindex="0" [(ngModel)]="data.cafe.schedule.th">
    </mat-form-field>
    <mat-form-field floatLabel="auto">
        <input type="text" matInput placeholder="Пятница" name="fr" 
          tabindex="0" [(ngModel)]="data.cafe.schedule.fr">
    </mat-form-field>
    <mat-form-field floatLabel="auto">
            <input type="text" matInput placeholder="Суббота" name="sa" 
              tabindex="0" [(ngModel)]="data.cafe.schedule.sa">
    </mat-form-field>
    <mat-form-field floatLabel="auto">
            <input type="text" matInput placeholder="Воскресенье" name="su" 
              tabindex="0" [(ngModel)]="data.cafe.schedule.su">
    </mat-form-field>
</div>
<div>
    <mat-form-field floatLabel="auto">
        <input type="text" matInput placeholder="Menu" name="menu"
        tabindex="0" [(ngModel)]="data.cafe.menu">
    </mat-form-field>
</div>   
        <div>
            <mat-form-field style="width: 100%">
                <textarea matInput placeholder="About" name="dsc"
                tabindex="0" [(ngModel)]="data.cafe.description"></textarea>
            </mat-form-field>
        </div>    
   
</div>
<div mat-dialog-actions>
    <button mat-button [mat-dialog-close]="data.cafe" tabindex="2">Подтвердить</button>
    <button mat-button (click)="onCancelClick()" tabindex="-1">Отмена</button>
</div>
