<!--<div role="dialog" area-labelledby="modal-title" area-describedby="modal-text" class="modal__error">
  <div class="modal-header">
      <h3 id="modal-title" class="modal-title">
          Error message
      </h3>
  </div>
  <div class="modal-body">
      <p id="modal-text">{{message}}</p>
  </div>
  <div class="modal-footer"></div>
</div>-->
<h1 mat-dialog-title>Ошибка</h1>
<div mat-dialog-content>
  {{data.message}}
</div>
<div mat-dialog-actions>
  <!--<button mat-button [mat-dialog-close]="data.animal" tabindex="2">Ok</button>-->
  <button mat-button (click)="onNoClick()" tabindex="0">OK</button>
</div>